#tables {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #listing td, #listing th, #tables td, #tables th{
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #listing tr:nth-child(even){background-color: #f2f2f2;}
  
  #listing tr:hover {background-color: #ddd;}

  #tables thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}
  
.picker {
    background-color: #eee;
    padding: 1em;
}

.body-item{
    margin-top: 20px;
    text-align: center;
}

.btn{
    cursor: pointer;
    background-color: blue;
    color: #eee;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header-top{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}
.header-inside{
    background-color: #F3525A;
    color: aliceblue;
    display: inline;
    padding: 10px;
    margin-left: 1px;

}


*{
    margin: 0px;
    padding: 0px;
}
.active{
    color: #F3525A;
    font-weight: 900;
}
.non-active{
    color: black;
}
.navs-main{
    color: #F3525A;
    margin-right: 30px;
    font-size: 25px;
    text-decoration: none;
}
.navs-items{
    
    margin-right: 30px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    
}
.navs{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F6F6;
}



.about-show-item{
    padding: 50px;
    background-color: #152440 !important;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    color: #fff !important;
}

.change_ul{
    margin: 10px;
}
.change_ul:hover{
    color:aqua;
    cursor: pointer;
}